<a href="https://colab.research.google.com/github/athulkrishna174/Learn.py/blob/main/TASK%2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [40]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=df.index)
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print("Dataframe df1\n", df1)
print("\nBoolean mask where value is nan\n", df1.isnull())
print("\nRemoved the row with missing data\n", df1.dropna())

Dataframe df1
                    A         B         C         D  F    E
2021-01-01 -0.343451 -1.180025 -0.578906  0.564523  1  1.0
2021-01-02  0.410158 -0.554617 -0.725427  0.955893  2  1.0
2021-01-03  0.544590  0.188024  1.016094  1.220329  3  NaN
2021-01-04 -0.306727  0.576155  0.217907 -0.811158  4  NaN

Boolean mask where value is nan
                 A      B      C      D      F      E
2021-01-01  False  False  False  False  False  False
2021-01-02  False  False  False  False  False  False
2021-01-03  False  False  False  False  False   True
2021-01-04  False  False  False  False  False   True

Removed the row with missing data
                    A         B         C         D  F    E
2021-01-01 -0.343451 -1.180025 -0.578906  0.564523  1  1.0
2021-01-02  0.410158 -0.554617 -0.725427  0.955893  2  1.0

2. In the data given below,fill the missing data with 20.

In [42]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
df2 = df1.fillna(value = 20)
df2

                   A         B         C         D     F     E
2021-01-01  0.240360 -1.114524 -0.209316 -1.269493  20.0   1.0
2021-01-02  0.170382  0.715051  0.722263 -0.228429  20.0   1.0
2021-01-03 -1.370473  0.088672 -0.151233  0.571574  20.0  20.0
2021-01-04  1.699673  0.810119 -2.045564  1.103422  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [55]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
pieces = [df[:3], df[3:8]]
print("Break the data in to pieces from 0 to 2 ,3 to 7\n", pieces[0], "\n", pieces[1])
print("\nConcatenate the pieces\n", pd.concat(pieces))
print("\nConcatenate the pieces along axis 1\n", pd.concat(pieces, axis=1))
a = pieces[0]
b = pieces[1]
print("\nLabel each as 'a' and 'b' respectively and perform concatenation\n", pd.concat([a, b]))

Break the data in to pieces from 0 to 2 ,3 to 7
           0         1         2         3
0 -0.079924  1.000075 -1.042336  0.776162
1 -0.916872  0.990559  0.242654 -0.192799
2 -0.532264 -0.279266 -1.904935  0.253042
           0         1         2         3
3 -1.660558  1.365195  1.149662 -0.250748
4  1.163492 -1.332301  1.301460  0.575637
5 -1.902839 -0.314265  1.315507 -1.428749
6 -0.307771  2.489401 -0.446383  0.600707
7 -1.502937  0.771677  1.710804  0.101500

Concatenate the pieces
           0         1         2         3
0 -0.079924  1.000075 -1.042336  0.776162
1 -0.916872  0.990559  0.242654 -0.192799
2 -0.532264 -0.279266 -1.904935  0.253042
3 -1.660558  1.365195  1.149662 -0.250748
4  1.163492 -1.332301  1.301460  0.575637
5 -1.902839 -0.314265  1.315507 -1.428749
6 -0.307771  2.489401 -0.446383  0.600707
7 -1.502937  0.771677  1.710804  0.101500

Concatenate the pieces along axis 1
           0         1         2  ...         1         2         3
0 -0.079924  1.000075 -1.042336  ...       NaN       NaN       NaN
1 -0.916872  0.990559  0.242654  ...       NaN       NaN       NaN
2 -0.532264 -0.279266 -1.904935  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  1.365195  1.149662 -0.250748
4       NaN       NaN       NaN  ... -1.332301  1.301460  0.575637
5       NaN       NaN       NaN  ... -0.314265  1.315507 -1.428749
6       NaN       NaN       NaN  ...  2.489401 -0.446383  0.600707
7       NaN       NaN       NaN  ...  0.771677  1.710804  0.101500

[8 rows x 8 columns]

Label each as 'a' and 'b' respectively and perform concatenation
           0         1         2         3
0 -0.079924  1.000075 -1.042336  0.776162
1 -0.916872  0.990559  0.242654 -0.192799
2 -0.532264 -0.279266 -1.904935  0.253042
3 -1.660558  1.365195  1.149662 -0.250748
4  1.163492 -1.332301  1.301460  0.575637
5 -1.902839 -0.314265  1.315507 -1.428749
6 -0.307771  2.489401 -0.446383  0.600707
7 -1.502937  0.771677  1.710804  0.101500