<a href="https://colab.research.google.com/github/athulkrishna174/Learn.py/blob/main/TASK%2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [6]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210101', periods=15)
df = pd.DataFrame(np.random.randn(15, 26), index=dates, columns=list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
print("First Three Rows\n", df[:3])
print("\nOdd Indexed Rows\n", df[::2])
print("\nDates 1st to 4th Position\n", df.index[:4])

First Three Rows
                    A         B         C  ...         X         Y         Z
2021-01-01  0.029183 -0.927209 -0.654465  ...  1.591549 -0.307574  0.720684
2021-01-02  0.064769  0.381845 -0.617188  ...  0.131502  0.807262 -0.859939
2021-01-03 -0.288356  1.788016 -0.732178  ... -0.708977 -1.290234  0.738948

[3 rows x 26 columns]

Odd Indexed Rows
                    A         B         C  ...         X         Y         Z
2021-01-01  0.029183 -0.927209 -0.654465  ...  1.591549 -0.307574  0.720684
2021-01-03 -0.288356  1.788016 -0.732178  ... -0.708977 -1.290234  0.738948
2021-01-05  2.812909  0.038357  0.515318  ...  0.580283 -0.116642  0.099654
2021-01-07 -1.174112  0.242057 -0.907966  ...  1.478348 -0.775768 -0.000008
2021-01-09 -0.408755 -0.656890 -0.949375  ... -1.037331 -1.335701  0.347491
2021-01-11 -1.242175 -0.819982 -1.342939  ... -0.137035  0.359569  0.137926
2021-01-13  1.233830  1.165761  1.032725  ...  0.183680  0.101205  1.338401
2021-01-15  0.264846 -1.091034 -1.800593  ...  0.181695 -1.479845  1.165068

[8 rows x 26 columns]

Dates 1st to 4th Position
 DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04'], dtype='datetime64[ns]', freq='D')

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [42]:
#please provide your answer below thins line.
import numpy as np
import pandas as pd
dates = pd.date_range('20210101', periods=15)
df = pd.DataFrame(np.random.randn(15, 26), index=dates, columns=list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
print("Index 1 to 3 and columns A B\n", df[['A','B']][:3])
print("\nDatas at 3rd Index\n", df.iloc[3])
print("\nDatas from 2nd to 5th\n", df[1:5])
print("\nDatas from Index 1,2,4 and column 0 and 2\n", df.iloc[[1,2,4], [0,2]])

Index 1 to 3 and columns A B
                    A         B
2021-01-01  0.775212 -2.451384
2021-01-02 -1.105598  0.396074
2021-01-03 -0.544437 -0.690452

Datas at 3rd Index
 A    2.829481
B   -1.586694
C    1.708024
D   -1.921344
E   -1.639854
F   -1.338056
G    1.044295
H    1.566226
I   -0.410420
J   -0.430237
K   -0.588992
L   -0.177253
M   -1.502311
N    0.135227
O   -1.352516
P   -0.072356
Q    0.073427
R   -0.342143
S    0.047366
T   -2.522586
U   -1.560903
V   -1.754818
W    0.992097
X   -0.894371
Y    0.288453
Z    1.642799
Name: 2021-01-04 00:00:00, dtype: float64

Datas from 2nd to 5th
                    A         B         C  ...         X         Y         Z
2021-01-02 -1.105598  0.396074 -0.774037  ...  1.613371  1.097729  0.618048
2021-01-03 -0.544437 -0.690452  0.289195  ... -0.108093 -1.782381  0.045192
2021-01-04  2.829481 -1.586694  1.708024  ... -0.894371  0.288453  1.642799
2021-01-05  0.075151 -0.954614 -0.674860  ... -0.354103  0.176671 -0.101291

[4 rows x 26 columns]

Datas from Index 1,2,4 and column 0 and 2
                    A         C
2021-01-02 -1.105598 -0.774037
2021-01-03 -0.544437  0.289195
2021-01-05  0.075151 -0.674860