<a href="https://colab.research.google.com/github/athulkrishna174/Learn.py/blob/main/TASK%2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [41]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
#please type your code below this line.
group = df.groupby('A')
print("\nSum Of Groups\n", group.sum())
print("\n3 least elements from the column D\n", df['D'].nsmallest(3))
print("\n3 3 largest elements from the Column D which belongs to the group 'bar' D\n", group['D'].get_group('bar').nlargest(3))

     A      B         C         D
0  foo    one -0.193982 -1.040691
1  bar    one -1.385967 -0.057074
2  foo    two -1.576904  0.072170
3  bar  three  0.959806  0.538391
4  foo    two  1.705552 -0.519992
5  bar    two -1.886590  0.490260
6  foo    one  0.479781  1.600570
7  foo  three  0.865702  1.362067

Sum Of Groups
             C         D
A
bar -2.312751  0.971578
foo  1.280149  1.474124

3 least elements from the column D
 0   -1.040691
4   -0.519992
1   -0.057074
Name: D, dtype: float64

3 3 largest elements from the Column D which belongs to the group 'bar' D
 3    0.538391
5    0.490260
1   -0.057074
Name: D, dtype: float64

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [56]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df.to_csv('csvFile.csv')
print("CSV File\n", pd.read_csv('csvFile.csv'))
df.to_excel('excelFile.xlsx')
print("\nExcel File\n", pd.read_excel('excelFile.xlsx'))

CSV File
    Unnamed: 0    A      B         C         D
0           0  foo    one  0.824199 -2.194340
1           1  bar    one -0.400776  1.991108
2           2  foo    two  1.079108  0.400123
3           3  bar  three  1.011256  0.240093
4           4  foo    two  0.680462 -0.798000
5           5  bar    two  0.600489 -0.853429
6           6  foo    one  0.151786  0.902349
7           7  foo  three  1.409528 -0.679268

Excel File
    Unnamed: 0    A      B         C         D
0           0  foo    one  0.824199 -2.194340
1           1  bar    one -0.400776  1.991108
2           2  foo    two  1.079108  0.400123
3           3  bar  three  1.011256  0.240093
4           4  foo    two  0.680462 -0.798000
5           5  bar    two  0.600489 -0.853429
6           6  foo    one  0.151786  0.902349
7           7  foo  three  1.409528 -0.679268