<a href="https://colab.research.google.com/github/athulkrishna174/Learn.py/blob/main/TASK%2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [39]:
#please type your answer below this line.
import pandas as pd
import numpy as np
index = ["India", "Pakistan", "Bangladesh", "Srilanka", "china", "Nepal"]
data = [1, 3, 5,np.nan, 6, 8]
print(pd.Series(data, index, name = "myseries"))

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
china         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [40]:
#please type 
import pandas as pd
import numpy as np
dates = pd.date_range(start = "2021-01-01", end = "2021-01-06")
arr = np.random.rand(6, 4)
lis = ('A', 'B', 'C', 'D')
print(pd.DataFrame(data = arr, index = dates, columns = lis))

                   A         B         C         D
2021-01-01  0.872437  0.401625  0.517738  0.639892
2021-01-02  0.103131  0.418298  0.410990  0.574404
2021-01-03  0.777005  0.136223  0.624977  0.640267
2021-01-04  0.965653  0.878963  0.706455  0.165107
2021-01-05  0.165279  0.920141  0.574594  0.310229
2021-01-06  0.767245  0.192876  0.223764  0.382714